@import '../styles/mixin';
@import '../styles/variables';

.footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  z-index: 10;

  p {
    text-align: right;
    font-size: 14px;
    color: $footer-text;
  }

  a {
    color: $footer-text;
    text-decoration: none;

    &:hover {
      color: var(--footer-text-hover);
    }
  }
}