*{box-sizing: border-box;}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  z-index: 9;
  font-size: 16px;
}